*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height:100%;
    /* background-color: antiquewhite; */
}
#main{
    width: 100%;
    /* background-color: aqua; */
}
#page1{
    width: 100%;
    height: 100vh;
    /* background-image: url(https://images.unsplash.com/photo-1614630536429-74e43f302c31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80); */
    /* rotate: 180deg; */
    background-color:#46534377;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
#page1 #nav{
    width:100%;
    height: 8vw;
    display: flex;
    align-items: center;
    gap: 15vw;
    justify-content: space-evenly;
    background-color: transparent;
    font-family: "Playfairdisplay";
    font-weight: 500;
}
#nav #navright{
    display: flex;
    align-items: center;
    gap:0.5vw;
    font-size: 1.5vw;
}
#navright #navcircle{
    width: 3vw;
    height:3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 4vw;
    background-color:black;
    font-size:1.6vw;
}
#nav #navmid{
    display: flex;
    gap: 4vw;
}
#nav #navmid a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.575);
    font-size:1.2vw;
}

#navleft #navbutton{
    width: 7vw;
    height: 3vw;
    font-size: 1.2vw;
    border-radius: 1.2vw;
    background-color:#000;
    color: #fff;
    
}
#mid{
    display: flex;
    width: 100%;
    height: calc(100% - 8vw);
    font-family: gilroy;
    /* background-color: antiquewhite; */
}
#p1left{
    position: relative;
    width: 50%;
    height: 100%;
    /* background-color: #000; */
    text-align: left;
    margin:5vw 6vw;

}
#p1lefttext{
    width:100%;
    height: 80%;
    position: absolute;
    font-size: 2vw;
    top: 1vw;
}
#p1lefttext h1{
    width: 70%; 
    font-family: 2vw;
}
#p1lefttext p{
    width: 65%; 
    font-size: 1.5vw;
    color: rgba(0, 0, 0, 0.616);
    margin-top: 2vw;
    font-size: 1.3vw;
    
}
#p1lefttext #midbutton{
    display: flex;
    gap: 6vw;
    align-items: center;
    margin-top: 3vw;
}
#midbutton #exmenu{
    width: 9vw;
    border-radius: 1vw;
    border: none;
    background-color: #000;
    color: #fff;
    letter-spacing: 0.2vw;
    font-size: 0.7vw;
    height:3vw
}
#midbutton #midvideo{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 2vw;
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 1vw;
    justify-content:center;
    background-color: #000;
}
#midbutton #midicone{
    display: flex;
    gap: 1vw;
    align-items: center;
}
#midbutton #midicone a{
    text-decoration: none;
    color: #000;
    font-size: 1.5vw;
    font-weight: 300;
}
#navbtm{
    width: 100%;
    height: 8vw;
    /* background-color: antiquewhite; */
    position:absolute;
    display: flex;
    bottom: -2vw;
    gap: 8vw;
    align-self: center;
    text-align: center;
    font-size: 0.8vw;
    font-family: gilroy;
    color: rgba(0, 0, 0, 0.377);
}
#navbtm #text2{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    letter-spacing: 0.3vw;
}
#navbtm #text2 i{
    font-size: 1.4vw;
}
#navbtm #support i{
    font-size: 1.4vw;
    padding-bottom: 0.9vw;
}
#navbtm #support{
    display:flex;
    padding-top: 1vw;
    align-items: center;
    gap:0.8vw;
    font-size: 1vw;
}
/* here we are start the mid postion right work */

#p1right{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: #000; */
}
#p1right1 {
    width: 65%;
    height: 85%;
    position: absolute;
    top: 10%;
    left: 18%;
    rotate: -10deg;
    border-top-right-radius: 20vw;
    border-top-left-radius: 20vw;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    z-index: 99;
    background-color:#FDF9F8;    
}
#p1right1 #p1image{
    width: 98%;
    height: 98%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-top-right-radius: 20vw;
    border-top-left-radius: 20vw;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    background-color: rgb(255, 255, 255);
    background-image: url(https://images.unsplash.com/photo-1507019403270-cca502add9f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80);
    background-position: center;
    background-size: cover;
    background-color: antiquewhite;
}
#p1right{
    width: 50%;
    height: 100%;
    position: relative;
    /* background-color: #000; */
}
#p1right2 {
    width: 60%;
    height: 80%;
    position: absolute;
    top: -2%;
    left: -5%;
    rotate: -15deg;
    border-top-right-radius: 20vw;
    border-top-left-radius: 20vw;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    background-color:#FDF9F8;    
}
#p1right2 #p1image2{
    width: 98%;
    height: 98%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-top-right-radius: 20vw;
    border-top-left-radius: 20vw;
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    background-color: rgb(255, 255, 255);
    background-image: url(https://images.unsplash.com/photo-1468011749792-10026eb12caf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-position: center;
    background-size: cover;
    background-color: antiquewhite;
}